.main-layout {
  align-items: center;
  padding-top: 45px;
  .card {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .chart {
    margin-top: 60px;
  }
}

.main-container {
  background-color: $main-color;
  max-width: 1789px;
  padding: 0 20px;
  width: 100%;
}