@use "../assets/sass/" as *;

.login {
  @include flex(center, space-between);
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  &__left {
    margin: 0 auto;
    &__form {
      &--content {
        margin-top: 40px;
        .form-title {
          text-align: center;
          .title {
            font-size: 33px;
            font-weight: 600;
            margin-bottom: 16px;
          }
          .sub {
            font-size: 16px;
            color: #8a92a6;
          }
        }
        .form-input {
          div {
            font-size: 16px;
            color: #8a92a6;
            margin-top: 30px;
          }
          input {
            margin-top: 8px;
            padding-left: 14px;
            font-size: 14px;
            color: #3a57e8;
            width: 436px;
            height: 44px;
            border: 1px solid #3a57e8;
            border-radius: 4px;
            outline: none;
          }
        }
        .form-btn {
          text-align: center;
          button {
            margin-top: 51px;
            font-size: 16px;
            color: #fff;
            background: #3a57e8;
            border-radius: 4px;
            width: 188px;
            height: 44px;
            border: none;
            &:hover {
              cursor: pointer;
              background: #fff;
              border: 1px solid #3a57e8;
              color: #3a57e8;
            }
          }
        }
      }
    }
  }
  &__right {
    img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
