@use "../../assets/sass/" as *;
.navbar {
  @include flex(center, space-between);
  color: $txt-main-color;
  padding-top: 14px;
  padding-bottom: 14px;
  &__right{
    @include flex(center, space-between);
    span{
      margin-left: 10px;
      font-weight: bold;
    }
  }
}
